# Flask Settings
FLASK_SECRET=your_dev_key_here

# Third-Party API Keys
FINNHUB_API_KEY=your_api_key_here

#Admin Email
ADMIN_EMAIL=your_admin_email@example.com

# DATABASE_URL=mysql+pymysql://user:password@localhost/stock_db